body
    background-color:  #f8f7fa;
    font-family: 'Public Sans', sans-serif !important;
    font-size: 14px
    margin: 0px
    padding: 0px

.wrapper
    display: flex
    height: 100vh
    max-height: 100vh
    width: 100%
    .sidebar
        background-color:  #081B33
        box-shadow: 0 0.125rem 0.25rem rgba(165,163,174 .3)
        height: 100%
        max-height: 100%
        transition: all 0.3 ease
        width: 260px
        z-index 999
        .logo
            padding: 16px 12px
            position: relative
            img
                display: block
                width: 90%
            a
                color: var(--label-white)
                font-size: 1.9em
                position: absolute
                top: 33px
                right: 5px
        ul 
            box-sizing: border-box
            display: block
            list-style: none
            margin: 0px
            overflow: hidden
            padding: 0px 12px
            transition: height 0.3s ease
            width: 100%
            li
                display: block
                margin-bottom: 2px
                width: 100%
                a   
                    color: var(--label-white)
                    border-radius: 2px
                    box-sizing: border-box
                    display: block
                    font-size: 1.12em
                    font-weight: 500
                    padding: 10px 16px
                    transition-duration: 0.2s
                    transition-property: none
                    text-decoration: none
                    width: 100%
                   &:hover
                        background-color: var(--button-primary)
                        border-radius: 2px
                    span.row-icon
                        font-size: 0.8em
                        margin-top: 4px
                        float: right
                        transition: all 0.2s ease
                a.active
                    background-color: var(--button-primary)
                    color: var(--label-white)
                    i
                        color: var(--label-white)
                ul 
                    background-color: var(--background-black)
                    display: none
                    padding: 0px
                    li
                        a
                            i 
                                color: var(--background-white)
                                font-size: 0.7em
                                position: relative
                                top: -2px
    .content
        box-sizing: border-box
        height: 100vh
        max-height: 100vh
        overflow: scroll
        padding: 24px
        width: calc(100% - 260px)
        .topbar
            display: flex
            background-color:  #081B33
            border-radius: 6px
            justify-content: space-between
            padding: 14px 16px
            width: 100%
            z-index 999
            ul 
                display: flex
                list-style none
                margin: 0px
                padding: 0px
                li
                    a
                        cursor: pointer
                        display: flex
                        width: 100%
                        i
                            display: block
                            color: var(--label-white)
                            font-size: 1.4em
                            max-height: 26px
                            width: 26px
                        &:hover
                            color: var(--button-primary)
                            i
                            span
                                color: var(--button-primary)
                &:last-child
                    li
                        position relative
                        margin-left: 12px
                        a
                            align-items: center
                            display: flex
                            color: var(--label-white)
                            font-size: 1.1em
                            justify-content: center
                            height: 100%
                            text-decoration: none
                            i
                                font-size: 1.2em !important
                            img
                                display: block
                                border: 50%
                                position relative
                                margin-top: -3px
                                width: 28px
                            span
                                margin-right: 6px
    .form-medium
        width: 180px
    .opts
        overflow hidden
        a
            align-items center
            display flex
            border-radius 8px
            cursor pointer
            font-size .9em
            float left
            justify-content center
            margin-right 8px
            height 38px
            width 38px
        a.edit
            background-color #FF4500 
            color #fff
        a.deleted
            background-color #922B21 
            color #fff
        a.inventory
            background-color: #008000
            color #fff
.mini-profile
    display: flex
    .avatar
        width 64px
        img
            display: block
            border-radius: 10px
            width 100%
    .header-info
        margin-left: 16px
        width calc(100% - 80)
        h5
            color: var(--button-primary)
            font-size: 1.375rem
            margin: 0px
            padding: 0px
        small
            display: flex
            color: var(--button-primary)
            width 100%

ul.pagination
    display: flex
    justify-content: flex-end
    margin: 0px
    .page-item
        margin-right: 4px
        &:last-child
            margin: 0px
        .page-link
            align-items: center
            background-color: rgba(75, 70, 92, .16)
            border: 0px
            color: var(--morado)
            display: flex
            border-radius: 4px
            font-size: 0.9375rem
            justify-content: center
            height: 32px
            width 32px
            &:hover
                background-color: rgba(75, 70, 92, .16)
                color: #5d596c
            &:focus
                box-shadow: none !important
                outline: none !important
    .active
        .page-link
            background-color: var(--morado) !important
            color: var(--blanco)
            &:hover
                background-color: var(--azul) !important
                color: var(--blanco)

.list-card-profile-avatar
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr))
    margin-top: 15px
    margin-bottom: 24px
    justify-content: flex-start
    gap 28px
    .card
        border: 0px
        box-sizing: border-box
        flex-basis: calc(25% - 21px)
        flex-direction: column
        transform: scale(1)
        transition: all 0.2s ease
        padding: 12px
        gap: 16px
        .actions
            display: flex
            border-top: 1px solid #f0f0f0
            justify-content: center
            list-style none
            margin-top: 3px
            padding-top: 3px
            ul 
                display: flex
                list-style none
                margin: 0px
                padding: 0px 
                width 100%
                li
                    display: flex
                    margin-right: 12px
                    a
                        display: flex
                        border-radius: 4px
                        color: var(--morado)
                        text-decoration: none
                        line-height: initial
                        padding: 8px 10px
                        i
                            line-height: initial
                            max-height: 19px
                            margin-right: 4px
                        &:hover
                            background-color: var(--morado)
                            color: var(--blanco)
        .body
            display: flex
            width 100%
            .avatar
                margin-right: 12px
                user-select: none
                width 48px
                .photo
                    align-items: center
                    border-radius: 50%
                    color: #fff
                    display: flex
                    overflow: hidden
                    justify-content: center
                    font-size: 1.2em
                    font-weight: bold
                    height: 48px
                    width 48px
                    img
                        display: block
                        width 100%
            .info
                flex: 1
                h5
                   color: var(--morado) !important
                   margin-bottom: 4px
                   font-size: 1.1em
                p
                    color: #000 !important
                    font-size: .9em
                    line-height: normal
                    margin-bottom: 1px
                    span.verified
                        color: #3897f0
                    span.danger
                        color: #ff0000  
            .avatar_1
                background-color: #4fae5a
            .avatar_2
                background-color: #8a6347
            .avatar_3
                background-color: #5a6a7f
            .avatar_4
                background-color: #6a7f5a
            .avatar_5
                background-color: #7f5a6a
            .avatar_6
                background-color: #2e86ab

.hide-in-desktop
    display: none

.panel
    background-color: #fff
    border-radius: 6px
    .panel-header
        border-bottom: 1px solid #dbdade
        h5
            color: var(--button-primary)
            font-size: 1.3em
            margin-bottom: 0px
            i
                color: var(--button-primary)
    .panel-nav
        border-bottom: 1px solid #dbdade
        display: flex
        padding: 8px
        ul 
            display: flex
            list-style none
            overflow-x: scroll
            margin: 0px
            padding: 0px
            li
                margin-right: 8px
                button
                    display: flex
                    color: var(--morado)
                    font-size: 1em
                    padding: 9px 20px
                    text-decoration: none
                    i
                        margin-right: 4px
                    &:hover
                        color: var(--azul)
                button.active
                    background-color: var(--morado)
                    color: var(--blanco)
                    &:hover
                        background-color: var(--morado)
                        color: var(--blanco)
    .inside
        padding: 16px
        .img_transports
            display: flex
            margin: 0px
            padding: 0px
            width 100%
            justify-content: center
            a
                margin: 0px
                padding: 0px
                display: flex
                justify-content: center
                img
                    width 50%
                    
                
a.file_uploader_trigger
    align-items: center
    border: 1px dashed #e0e3fb !important
    border-radius: 12px
    color: var(--morado)
    display: flex
    justify-content: center
    height: 50px
    text-decoration: none
    transition: all 0.4 ease
    width: 100%
    .trigger_content
        display: flex
        img
            display: block
            width: 24px !important
        span
            color: #2a8df2
            font-size: 1em
            margin-top: 2px
            margin-left: 10px
    &:hover
        background-color: #f0f0f0
.nav-vertical
    button
        border-radius: 4px !important
        color: #626262 !important
        font-size: 1.1em
        padding: 10px 12px
        text-align: left
        i
            margin-right: 8px
    button.active
        background-color: var(--according-panel) !important
        color: var(--label-white) !important

.table-active
    background-color: #31C950
    border-radius:5px
    color: var(--label-white)
    padding: 5px

.table-inactive
    background-color: #C11007
    border-radius:5px
    color: var(--label-white)
    padding: 5px


@media screen and (max-width: 992px)
    .wrapper
        .sidebar
            left -270px
            position: absolute
            top: 0
        .content
            box-sizing: border-box
            padding: 14px
            width: 100%
        .list-card-profile-avatar
            .card
                flex-basis: auto
                width 100%
    .hide-in-desktop
        display: block
    
    .movil16
        margin-top: 16px

    .opts
        display: flex

@media screen and (max-width: 1280px)
    .mini-profile
        display: block
        .avatar
            margin-left: 60px
            width 64px
            margin-bottom: 5px
            img
                display: block
                border-radius: 10px
                width 100%